# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
# Use https://www.gitignore.io/ to be more accurate

node_modules/
dist/
.idea
