*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
    --primary-color: #1976d2;
    --primary-light-color: #63a4ff;
    --primary-dark-color: #004ba0;
    --primary-text-color: #fafafa;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10rem;
    min-height: 10vh;
    overflow: hidden;
    background-color: var(--primary-dark-color);
    border-bottom: solid 3px var(--primary-text-color);
}

/* Header Icon */
.header-icons {
    width: 10rem;
}

#battleship-icon-2 {
    transform: scaleX(-1);
}

/* Title */
h1 {
    width: auto;
    color: var(--primary-text-color);
    font-size: 5rem !important; /* normalize.css is applied to h1 */
    letter-spacing: 1rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px #63a4ff;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    text-align: center;
}

/* Fleets names containers */
.fleets-names-containers {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fleets-names {
    padding: 1rem;
    color: var(--primary-dark-color);
    font-weight: bolder;
    font-size: 3rem;
    text-transform: uppercase;
    background-color: var(--primary-text-color);
    border-radius: 3px;
}

.fleets-icon {
    width: 7.5rem;
    margin: 0 2rem;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    min-width: 30rem;
    height: 100%;
}

/* Game Message */
#game-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 10rem;
    margin-top: 3rem;
    color: var(--primary-dark-color);
    font-weight: bolder;
    font-size: 2.5rem;
    text-transform: uppercase;
    vertical-align: center;
    background: none;
    /*
    background-color: var(--primary-text-color);
    */
    border-radius: 3px;
    /*
    visibility: hidden;
    */
    cursor: default;
}

/* Human's and computer's gameboards' containers*/
.players-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Human's and Computer's gameboard */
.grid-container {
    display: grid;
    grid-template-columns: repeat(11, minmax(4rem, 1fr));
    /*width: 80%;
      height: 60%;*/
    overflow: hidden;
    border: solid 8px var(--primary-dark-color);
    border-radius: 5px;
}

.grid-container span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    font-weight: bolder;
    font-size: 1.8rem;
    background-color: var(--primary-light-color);
    border: solid 1px var(--primary-text-color);
    cursor: default;
}

/* A - J */
.grid-container span:nth-child(-n + 11) {
    background-color: pink;
    cursor: default;
}

/* 1 - 10 */
.grid-container span:nth-child(11n + 12) {
    background-color: palevioletred;
    cursor: default;
}

/* Empty/First Case */
.grid-container span:first-child {
    background-color: var(--primary-light-color);
    cursor: default;
}

/** Human gameboard **/

/* Human Navy */

#human-navy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ship-choices {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #004ba0;
    border: solid 2px var(--primary-text-color);
    border-radius: 3px;
}

/* Ships' names */
.ship-div {
    margin-bottom: 1rem;
    color: var(--primary-text-color);
    font-weight: bolder;
    font-size: 2.5rem;
    text-transform: uppercase;
    border: 3px solid transparent;
    border-radius: 3px;
    cursor: pointer;
}

.ship-div:hover {
    color: rgba(250, 250, 250, 0.8);
    border: 3px solid rgba(250, 250, 250, 0.8);
}

.ship-div-clicked {
    background-color: var(--primary-light-color);
    border: 3px solid var(--primary-text-color);
}

/* Rotate and Start Game Buttons*/
#rotate-ship-button,
#start-game-button,
#reset-game-button {
    color: var(--primary-dark-color);
    font-weight: bolder;
    background-color: var(--primary-text-color);
    border: solid 3px var(--primary-dark-color);
    border-radius: 5px;
    cursor: pointer;
    transition: color, background-color 0.7s ease-out;
}

#reset-game-button {
    color: var(--primary-text-color);
    background-color: var(--primary-dark-color);
}

#start-game-button {
    padding: 1.5rem;
    font-size: 2.5rem;
}

#rotate-ship-button {
    margin-top: 3rem;
    padding: 2rem;
    font-size: 2rem;
}

#reset-game-button {
    margin-top: 3rem;
    padding: 2rem;
    font-size: 2rem;
    transition: color, background-color 0.7s ease-out;
}

#rotate-ship-button:hover,
#start-game-button:hover {
    color: var(--primary-text-color);
    background-color: var(--primary-light-color);
}

#reset-game-button:hover {
    color: var(--primary-light-color);
    background-color: var(--primary-text-color);
}

/* Computer gameboard */
#computer-gameboard > span {
    cursor: url("../images/target.svg"), auto;
}

#computer-gameboard > span:hover {
    background-color: var(--primary-dark-color);
}

/* A - J */
#computer-gameboard > span:nth-child(-n + 11) {
    cursor: default;
}

#computer-gameboard > span:nth-child(-n + 11):hover {
    background-color: pink;
}

/* 1 - 10 */
#computer-gameboard span:nth-child(11n + 12) {
    cursor: default;
}

/* 1 - 10 */
#computer-gameboard span:nth-child(11n + 12):hover {
    background-color: palevioletred;
}

/* Empty/First Case */
#computer-gameboard span:first-child {
    cursor: default;
}

#computer-gameboard span:first-child:hover {
    background-color: var(--primary-light-color);
    cursor: default;
}

/* Strike Images */
.explosion-icon,
.sea-icon {
    width: 2.8rem;
    max-height: 2rem;
}
