*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
    --primary-color: #546e7a;
    --primary-light-color: #819ca9;
    --primary-dark-color: #29434e;
    --primary-text-color: #fafafa;
    --secondary-text-color: #db7093;
}

/* BODY */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 300px;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10rem;
    min-height: 10vh;
    overflow: hidden;
    background-color: var(--primary-light-color);
    border-bottom: solid 3px var(--primary-text-color);
}

.header-icons {
    width: 10rem;
}

#battleship-icon-2 {
    transform: scaleX(-1);
}

#battleship-icon-3 {
    width: 10rem;
}

/* Battleship Title */

h1 {
    width: auto;
    color: var(--secondary-text-color);
    font-size: 5rem;
    letter-spacing: 1rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px var(--primary-dark-color);
    cursor: default;
}

/* MAIN */

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 90vh;
    min-height: 700px;
    overflow: hidden;
    text-align: center;
}

/** ASIDE (between the two players) **/

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    min-width: 30rem;
    height: 100%;
    overflow: hidden;
}

/* Game Message */

#game-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 10rem;
    color: var(--primary-dark-color);
    font-weight: bolder;
    font-size: 2.5rem;
    text-transform: uppercase;
    vertical-align: center;
    background: none;
    border-radius: 3px;
    cursor: default;
}

/* Human Navy */

#human-navy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ship-choices {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding: 1rem;
    color: var(--primary-dark-color);
    background-color: var(--secondary-text-color);
    border: solid 3px var(--primary-dark-color);
    border-radius: 3px;
}

/* Ships' names */
.ship-div {
    margin-bottom: 1rem;
    font-weight: bolder;
    font-size: 2.5rem;
    text-transform: uppercase;
    border: 3px solid transparent;
    border-radius: 3px;
    cursor: pointer;
}

.ship-div:hover {
    color: rgba(41, 67, 78, 0.8);
    border: 3px solid rgba(41, 67, 78, 0.8);
}

.ship-div-clicked {
    background-color: var(--primary-light-color);
    border: 3px solid var(--primary-dark-color);
}

/* Rotate and Start Game Buttons*/
#rotate-ship-button,
#start-game-button,
#reset-game-button {
    color: var(--primary-text-color);
    font-weight: bolder;
    background-color: var(--primary-dark-color);
    border: solid 3px var(--primary-text-color);
    border-radius: 5px;
    cursor: pointer;
    transition: color, background-color 0.7s ease-out;
}

#reset-game-button {
    color: var(--secondary-text-color);
    background-color: var(--primary-dark-color);
}

#start-game-button {
    margin-top: 3rem;
    padding: 1.5rem;
    font-size: 2.5rem;
    border-color: var(--secondary-text-color);
}

#rotate-ship-button {
    margin-top: 3rem;
    padding: 2rem;
    font-size: 2rem;
    border-color: var(--secondary-text-color);
}

#reset-game-button {
    margin-top: 3rem;
    padding: 2rem;
    font-size: 2rem;
    transition: color, background-color 0.7s ease-out;
}

#rotate-ship-button:hover,
#start-game-button:hover {
    color: var(--primary-text-color);
    background-color: var(--primary-light-color);
}

#reset-game-button:hover {
    color: var(--primary-light-color);
    background-color: var(--primary-text-color);
}

/* Human's and computer's gameboards' containers*/
.players-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


/* Fleets names containers */
.fleets-names-containers {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fleets-names {
    padding: 1rem;
    color: var(--primary-dark-color);
    font-weight: bolder;
    font-size: 3rem;
    text-transform: uppercase;
    background-color: var(--primary-text-color);
    border: solid 3px var(--primary-dark-color);
    border-radius: 3px;
    cursor: default;
}

.fleets-icon {
    width: 7.5rem;
    margin: 0 2rem;
}

/* Human's and Computer's gameboard */
.grid-container {
    display: grid;
    grid-template-columns: repeat(11, minmax(4rem, 1fr));
    overflow: hidden;
    border: solid 8px var(--primary-dark-color);
    border-radius: 5px;
}

.grid-container span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    font-weight: bolder;
    font-size: 1.5rem;
    background-color: var(--primary-light-color);
    border: solid 1px var(--primary-text-color);
    cursor: default;
}

/* Grid Cases - A - J */
.grid-container span:nth-child(-n + 11) {
    background-color: var(--secondary-text-color);
    cursor: default;
}

/* Grid Cases -  1 - 10 */
.grid-container span:nth-child(11n + 12) {
    background-color: var(--secondary-text-color);
    cursor: default;
}

/*  Grid Cases -  Empty/First Case */
.grid-container span:first-child {
    background-color: var(--primary-light-color);
    cursor: default;
}


/* COMPUTER GAMEBOARD */

#computer-gameboard > span {
    cursor: url("../images/target.svg"), auto;
}

#computer-gameboard > span:hover {
    background-color: var(--primary-dark-color);
}

/* Grid Cases -   A - J */
#computer-gameboard > span:nth-child(-n + 11) {
    cursor: default;
}

#computer-gameboard > span:nth-child(-n + 11):hover {
    background-color: var(--secondary-text-color);
}

/*  Grid Cases -  1 - 10 */
#computer-gameboard span:nth-child(11n + 12) {
    background-color: var(--secondary-text-color);
    cursor: default;
}

/* Grid Cases -   Empty/First Case */
#computer-gameboard span:first-child {
    cursor: default;
}

/* Grid Cases -   Empty/First Case */
#computer-gameboard span:first-child:hover {
    background-color: var(--primary-light-color);
    cursor: default;
}

/* Strike Images */
.explosion-icon {
    width: 4rem;
}

.missed-shot-icon {
    width: 2.8rem;
}


/*** MEDIA QUERIES - Max Width - 1200px ***/

@media only screen and (max-width: 1200px) {

    #header {
        height: 10%;
    }

    #main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 90%;
    }

    #game-tools-aside {
        flex-direction: row;
        width: 100%;
    }


    #game-message {
        position: fixed;
        bottom: 5%;
        width: 30%;
        font-size: 2rem;
        border: 3px solid var(--primary-dark-color);
        visibility: hidden;
    }

    #human-navy {
        flex-direction: row-reverse;
        justify-content: space-around;
        width: 100%;
    }

    .ship-div {
        font-size: 1.5rem;
    }

    #reset-game-button,
    #rotate-ship-button,
    #start-game-button {
        font-size: 1.5rem;
    }

    .players-container {
        margin-top: 3rem;
    }
}


/*** MEDIA QUERIES - Max Width - 700px***/

@media only screen and (max-width: 700px) {

    h1 {
        font-size: 2rem;
        letter-spacing: .2rem;
    }

    .header-icons {
        width: 6rem;
    }

    #main {
        min-height: auto;
    }

    .fleets-names {
        font-size: 1.2rem;
    }

    .fleets-icon {
        width: 4rem;
    }

    .grid-container {
        grid-template-columns: repeat(11, minmax(2rem, 1fr));
        border: solid 8px var(--primary-dark-color);
    }

    .grid-container span {
        width: 2rem;
        height: 2rem;
        font-size: 1.5rem;
    }

    #game-message {
        position: fixed;
        bottom: 10%;
        width: 30%;
        font-size: 1.5rem;
        visibility: hidden;
    }

    .ship-div {
        font-size: 1rem;
    }

    /* Rotate and Start Game Buttons*/
    #rotate-ship-button,
    #start-game-button,
    #reset-game-button {
        padding: 1rem;
       font-size: 1rem;
    }

    /* Strike Images */
    .explosion-icon {
        width: 1.8rem;
    }

    .missed-shot-icon {
        width: 1rem;
    }
}
