*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;

  --primary-color: #546e7a;
  --primary-light-color: #819ca9;
  --primary-dark-color: #29434e;
  --primary-text-color: #fafafa;
  --secondary-text-color: #db7093;
}

/* BODY */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 300px;
  min-height: 100%;
  font-family: "Fredoka One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background-color: var(--primary-color);
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  background-color: var(--primary-light-color);
  border-bottom: solid 3px black;
}

.header-icons {
  width: 3rem;
}

#battleship-icon-2 {
  transform: scaleX(-1);
}

#battleship-icon-3 {
  width: 5rem;
}

/* Battleship Title */

h1 {
  width: auto;
  color: var(--secondary-text-color);
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px var(--primary-dark-color);
  cursor: default;
}

/* MAIN */

#main {
  position: relative; /* GitHub Banner */
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  min-height: 700px;
  padding: 1rem;
  overflow: hidden;
  text-align: center;
}

/** ASIDE (between the two players) **/

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15rem;
  min-width: 15rem;
  height: 100%;
  overflow: hidden;
}

/* Game Message */

#game-message {
  position: absolute;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 6rem;
  overflow: hidden;
  color: var(--primary-dark-color);
  font-weight: bolder;
  font-size: 1.2rem;
  text-transform: uppercase;
  vertical-align: center;
  background: none;
  border-radius: 3px;
  visibility: hidden;
  cursor: default;
}

/* Human Navy */

#human-navy {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 1rem 0;
}

#game-tools-aside {
  flex-direction: row;
  width: 100%;
}

#ship-choices {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  padding: 0.5rem;
  color: var(--primary-dark-color);
  background-color: var(--secondary-text-color);
  border: solid 3px var(--primary-dark-color);
  border-radius: 3px;
}

/* Ships' names */
.ship-div {
  margin-bottom: 0.5rem;
  font-weight: bolder;
  font-size: 0.8rem;
  text-transform: uppercase;
  border: 3px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}

.ship-div:hover {
  color: rgba(41, 67, 78, 0.8);
  border: 3px solid rgba(41, 67, 78, 0.8);
}

.ship-div-clicked {
  background-color: var(--primary-light-color);
  border: 3px solid var(--primary-dark-color);
}

/* Rotate and Start Game Buttons */
#rotate-ship-button,
#start-game-button,
#reset-game-button {
  padding: 0.5rem;
  color: var(--primary-text-color);
  font-weight: bolder;
  font-size: 0.8rem;
  background-color: var(--primary-dark-color);
  border: solid 3px var(--primary-text-color);
  border-radius: 5px;
  cursor: pointer;
  transition: color, background-color 0.7s ease-out;
}

#start-game-button {
  border-color: var(--secondary-text-color);
}

#rotate-ship-button {
  border-color: var(--secondary-text-color);
}

#reset-game-button {
  color: var(--secondary-text-color);
  background-color: var(--primary-dark-color);
  transition: color, background-color 0.7s ease-out;
}

#rotate-ship-button:hover,
#start-game-button:hover {
  color: var(--primary-text-color);
  background-color: var(--primary-light-color);
}

#reset-game-button:hover {
  color: var(--primary-light-color);
  background-color: var(--primary-text-color);
}

/* Human's and computer's gameboards' containers */
.players-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* Fleets names containers */
.fleets-names-containers {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fleets-names {
  padding: 0.5rem;
  color: var(--primary-dark-color);
  font-weight: bolder;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: var(--primary-text-color);
  border: solid 3px var(--primary-dark-color);
  border-radius: 3px;
  cursor: default;
}

.fleets-icon {
  width: 3rem;
  margin: 0 1rem;
}

/* Human's and Computer's gameboard */
.grid-container {
  display: grid;
  grid-template-columns: repeat(11, minmax(1.5rem, 1fr));
  overflow: hidden;
  color: black;
  border: solid 8px var(--primary-dark-color);
  border-radius: 5px;
}

.grid-container span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  font-weight: bolder;
  font-size: 0.8rem;
  background-color: var(--primary-light-color);
  border: solid 1px var(--primary-text-color);
  cursor: default;
}

/* Grid Cases - A - J */
.grid-container span:nth-child(-n + 11) {
  background-color: var(--secondary-text-color);
  cursor: default;
}

/* Grid Cases -  1 - 10 */
.grid-container span:nth-child(11n + 12) {
  background-color: var(--secondary-text-color);
  cursor: default;
}

/*  Grid Cases -  Empty/First Case */
.grid-container span:first-child {
  background-color: var(--primary-light-color);
  cursor: default;
}

/* COMPUTER GAMEBOARD */

#computer-gameboard > span {
  cursor: url("../images/target.svg"), auto;
}

#computer-gameboard > span:hover {
  background-color: var(--primary-dark-color);
}

/* Grid Cases -   A - J */
#computer-gameboard > span:nth-child(-n + 11) {
  cursor: default;
}

/*  Grid Cases -  1 - 10 */
#computer-gameboard span:nth-child(11n + 12) {
  background-color: var(--secondary-text-color);
  cursor: default;
}

/* Grid Cases -   Empty/First Case */
#computer-gameboard span:first-child {
  cursor: default;
}

/* Grid Cases -   Empty/First Case */
#computer-gameboard span:first-child:hover {
  background-color: var(--primary-light-color);
  cursor: default;
}

/* Grid Cases -   A - J */
#computer-gameboard > span:nth-child(-n + 11):hover {
  background-color: var(--secondary-text-color);
}

/* Strike Images */
.explosion-icon {
  width: 1.2rem;
}

.missed-shot-icon {
  width: 1rem;
}

/*** MEDIA QUERIES - Min Width - 700px ***/

@media only screen and (min-width: 700px) {
  #main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  h1 {
    font-size: 1rem;
    letter-spacing: 1rem;
  }

  .header-icons {
    width: 4rem;
  }

  .fleets-names {
    font-size: 0.8rem;
  }

  .fleets-icon {
    width: 4.2rem;
  }

  .grid-container {
    grid-template-columns: repeat(11, minmax(2.5rem, 1fr));
  }

  .grid-container span {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.8rem;
  }

  #game-message {
    font-size: 1.5rem;
  }

  .ship-div {
    font-size: 0.8rem;
  }

  /* Rotate and Start Game Buttons */
  #rotate-ship-button,
  #start-game-button,
  #reset-game-button {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  /* Strike Images */
  .explosion-icon {
    width: 1.4rem;
  }

  .missed-shot-icon {
    width: 1.2rem;
  }
}

/*** MEDIA QUERIES - Min Width - 1200 ***/

@media only screen and (min-width: 1200px) {
  #main {
    flex-direction: row;
  }

  h1 {
    font-size: 2rem !important;
    letter-spacing: 1rem;
  }

  .header-icons {
    width: 5rem;
  }

  .fleets-names {
    font-size: 1.5rem;
  }

  .fleets-icon {
    width: 5rem;
  }

  #human-navy {
    display: flex;
    flex-direction: column;
  }

  #game-tools-aside {
    flex-direction: column;
  }

  #game-message {
    position: absolute;
    top: 10%;
    width: 25rem;
    font-size: 1.5rem;
    visibility: visible;
  }

  .ship-div {
    font-size: 1.2rem;
  }

  #start-game-button {
    margin-top: 1.5rem;
    padding: 0.8rem;
    font-size: 1.2rem;
    border-color: var(--secondary-text-color);
  }

  #rotate-ship-button {
    margin-top: 1.5rem;
    padding: 1rem;
    font-size: 1rem;
    border-color: var(--secondary-text-color);
  }

  #reset-game-button {
    margin-top: 1.5rem;
    padding: 1rem;
    font-size: 1rem;
    transition: color, background-color 0.7s ease-out;
  }

  /* Strike Images */
  .explosion-icon {
    width: 2rem;
  }

  .missed-shot-icon {
    width: 1.5rem;
  }
}

/* GITHUB BANNER */

#github-banner {
  position: absolute;
  top: 0;
  right: 0;
}

#github-banner-icon {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--secondary-text-color);
  border: 0;
  fill: black;
}

.octo-arm {
  transform-origin: 130px 106px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
