*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
    --primary-color: #1976d2;
    --primary-light-color: #63a4ff;
    --primary-dark-color: #004ba0;
    --primary-text-color: #fafafa;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
    overflow: hidden;
    background-color: var(--primary-dark-color);
}

img {
    width: 7%;
}

h1 {
    width: auto;
    color: var(--primary-text-color);
    font-size: 3rem !important; /* normalize.css is applied to h1 */
    text-align: center;
    text-transform: uppercase;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    text-align: center;
}

.players-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: solid 3px   var(--primary-dark-color);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(11,minmax(4rem,1fr));
    width: 80%;
    height: 60%;
    overflow: hidden;
    border: solid 3px var(--primary-dark-color);
    border-radius: 5px;
}

.grid-container span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.8rem;
    background-color: var(--primary-light-color);
    border: #fafafa solid 3px;
    cursor: pointer;
    overflow: hidden;
}

/* A - J */
.grid-container span:nth-child(-n+11) {
    background-color: pink;
    cursor: default;
}

/* 1 - 10 */
.grid-container span:nth-child(11n +12) {
    background-color: palevioletred;
    cursor: default;
}

.grid-container span:first-child{
    background-color: var(--primary-light-color);
    cursor: default;
}

.explosion-icon, .sea-icon {
    width: 2.8rem;
    max-height: 2rem;
}

#human-navy {
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: bolder;
    cursor: pointer;
}

.possible-choice {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.8rem;
    background-color: red;
    border: #fafafa solid 3px;
    cursor: pointer;
    overflow: hidden;}

#rotate-ship-button, #start-game-button {
    font-weight: bolder;
    font-size: 1.8rem;
}